body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}
.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(./img/hero-small.jpg);
  height: 520px;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
