body{
    margin: 0;
    background-color: bisque;
    text-align: center;
}

.card{
    width: 500px;
    border: 10px solid red;
    background-color: brown;
    margin-bottom: 10px;
    border-radius: 30px;
    display: inline-block;
    box-shadow: 0 15px 6px -6px black;
}
div{
    margin-bottom: 10px;
}
button{
    margin-bottom: 10px;
}
a{
    margin-bottom: 10px;
}